*{
    margin: 0;
    box-sizing: border-box;

}

:root{
    font-family: 'Montserrat', sans-serif;
    --card-dk-red: darkred;
    --card-red: red;
    --card-dk-blue: darkblue;
    --card-blue: #303580;
    --card-dkgreen: darkgreen;
    --card-green: green;
    --card-dk-orange: darkorange;
    --card-orange: orange;
}


.menu-bar{ 
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    background-color: #0a0909;
    z-index: 1000;
}
.menu-bar h1{
    color: #fff;
    font-size: 1.5rem;
}

.menu-bar li{
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.menu-bar a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.sidebar{
    position: fixed;
    margin-top: 80px;
    width: 240px;    
    height: 100%;
    background-color: rgba(128, 128, 128, 0.658);
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    padding: 10px 20px;
}

.sidebar a {
    text-decoration: none;
    color: #0a0909;
    font-size: 1.2rem;
}

.sidebar i {
    margin-right: 1rem;
}

.titulo {
    padding-top: 90px;
    padding-left: 260px;
}

.cardbox {
    display: grid;
    margin-left: 240px;
    padding: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 200px;
    gap: .5rem;
}

.basecard{
    padding: .5em;
    border: #303580 1px solid;
}

.basecard a {
    position: flex;
    text-decoration: none;
    bottom: 0;
    width: 100%;
    color: aliceblue;
}

.basecard i{
    position: relative;
    font-size: 2.5em;
    bottom: 0;
    right: 0;
}

.card-1 {
    background-color: var(--card-dk-red);
}

.card-2 {
    background-color: var(--card-dkgreen);
}

.card-3 {
    background-color: var(--card-blue);
}

.card-4 {
    background-color: var(--card-dk-orange);
}

.card-5 {
    background-color: var(--card-dk-blue);
}

.card-6 {
    background-color: var(--card-orange);
}

.card-7 {
    background-color: var(--card-green);
}

.card-8 {
    background-color: var(--card-red);
}

.w-2{
    grid-column: span 2;
}

.h-1{
    grid-row: span 1;
}

.botoes{
    padding-left: 250px;
}

.card-low{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 4rem;
    gap: .5rem;
}

.w-4{
    grid-column: span 2;
}

.h-1{
    grid-row: span 1;
}

.card-9{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;
    box-shadow: 0 2px 1px 1px rgb(0 0 0 / 15%);    
}

.card-9 i {
    background-color: #303580;
    color: #fff;
    padding: .5rem;
    font-size: 3rem;
    width: 4.6rem;
}
.card-9 a {
    text-decoration: none;    
    color: #050303;
    font-size: 1.2rem;
    padding-left: 1rem;
}