.header {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.info div input{
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}